<section id="home">
    <div class="home-container">
        <div class="hero-img">
            <img src="../../assets/lady.png" alt="">
        </div>

        <div class="hero-desc">
            <h2>Welcome to AFREADS</h2>
            <p>A fast way to find where to get your favourite books from local authors. Browse below and we are sure you
                will find a place near you to help you tick a title off your reading list... </p>
            

        </div>
    </div>
</section>



<!-- popular Reads -->
<section id="reads">
    <h2>Popular Reads</h2>
    <div class="reads-container">

        <div class="reads-desc">
            <div class="reads-img-container"><img src="../../assets/book1.png" alt=""></div>
            <div class="reads-bio">
                <a href="/books?Title=The Girl Who Smiled Beads">The Girl Who Smiled Beads: <br> A Story of War and What <br> Comes After</a>
               

                <h6>by Clemantine Wamariya</h6>
            </div>
        </div>


        <div class="reads-desc">
            <div class="reads-img-container"><img src="../../assets/book2.png" alt=""></div>
            <div class="reads-bio">
                <a href="/books?Title=Decolonising the Mind">Decolonising the Mind: <br> Politics of Language in <br> African Literature</a>
                <h6>by Ngugi wa Thiong'o</h6>
            </div>
        </div>


        <div class="reads-desc">
            <div class="reads-img-container"><img src="../../assets/book3.png" alt=""></div>
            <div class="reads-bio">
                <a href="/books?Title=The Lion Awakes">The Lion Awakes</a>
                <h6>by Ashish Thakar</h6>
            </div>
        </div>


        <div class="reads-desc">
            <div class="reads-img-container"><img src="../../assets/book4.png" alt=""></div>
            <div class="reads-bio">
            <a href="/books?Title=Half of a Yellow Sun">Half of a Yellow Sun</a>
                                <h6>by Chimamanda Wamariya</h6>
            </div>
        </div>

    </div>
</section>

<!-- Popular Authors -->


<section id="author">
    <h2>Popular Authors</h2>
    <div class="author-container">

        <div class="author-desc">
            <div class="author-img-container"><img src="../../assets/ChinuaAchebe.png" alt=""></div>
            <div class="author-bio">
                <a href="/books?Author=Chinua Achebe">Chinua Achebe</a>
            </div>
        </div>

        <div class="author-desc">
            <div class="author-img-container"><img src="../../assets/NelsonMandela.png" alt=""></div>
            <div class="author-bio">
                <a href="/books?Author=Nelson Mandela">Nelson Mandela</a>
            </div>
        </div>

        <div class="author-desc">
            <div class="author-img-container"><img src="../../assets/ChimamandaNgozi.png" alt=""></div>
            <div class="author-bio">
                <a href="/books?Author=Chimamanda Ngozi">Chimamanda Ngozi</a>
            </div>
        </div>

        <div class="author-desc">
            <div class="author-img-container"><img src="../../assets/NoVioletBulawayo.png" alt=""></div>
            <div class="author-bio">
                <a href="/books?Author=NoViolet Bulawayo">NoViolet Bulawayo</a>
            </div>
        </div>


    </div>
</section>

<!-- Categories -->
<section id="book">
    <h2>Categories</h2>
    <div class="book-container">

        <div class="book-desc">
            <div class="book-img-container"><img src="../../assets/book3.png" alt=""></div>
            <div class="book-bio">
                <a href="/books?Category=Business">Business</a>

            </div>
        </div>


        <div class="book-desc">
            <div class="book-img-container"><img src="../../assets/book2.png" alt=""></div>
            <div class="book-bio">
                <a href="/books?Category=Culture">Culture</a>

            </div>
        </div>


        <div class="book-desc">
            <div class="book-img-container"><img src="../../assets/book1.png" alt=""></div>
            <div class="book-bio">
                <a href="/books?Category=History">History</a>

            </div>
        </div>


        <div class="book-desc">
            <div class="book-img-container"><img src="../../assets/book4.png" alt=""></div>
            <div class="book-bio">
                <a href="/books?Category=Lifestyle">Lifestyle</a>

            </div>
        </div>

    </div>
</section>

<!-- contact form -->
<section id="contact">
    <h2>Send Us a Message</h2>

    <div class="contact-container">
        <div class="cards">
            <div class="row-one">
                <div class="card">
                    <i class="fa-solid fa-location-dot"></i>
                    <h5>Kigali, Rwanda</h5>
                    <h6>KG 346St</h6>
                </div>

                <div class="card">
                    <i class="fa-solid fa-phone"></i>
                    <h5>Phone</h5>
                    <h6>+250 780 862 318</h6>
                </div>
            </div>

            <div class="row-one">
                <div class="card">
                    <i class="fa-solid fa-envelope"></i>
                    <h5>Email</h5>
                    <h6>arelmuhizi@gmail.com</h6>
                </div>

                <div class="card">
                    <i class="fa-solid fa-clock"></i>
                    <h5>Open Hours</h5>
                    <h6>Mon-Fri 9AM - 5PM</h6>
                </div>
            </div>
        </div>

        <div class="form">
            <div class="container">
                <form action="">
                    <label for="fname">First Name</label>
                    <input type="text" id="fname" name="firstname" placeholder="Your first name">

                    <label for="lname">Last Name</label>
                    <input type="text" id="lname" name="lastname" placeholder="Your last name">

                    <label for="country">Country</label>
                    <select id="country" name="country">
                        <option value="Rwanda">Rwanda</option>
                        <option value="Burundi">Burundi</option>
                        <option value="Uganda">Uganda</option>
                        <option value="Tanzania">Tanzania</option>
                        <option value="DRC">DRC</option>
                        <option value="Kenya">Kenya</option>
                    </select>

                    <label for="subject">Subject</label>
                    <textarea id="subject" name="subject" placeholder="Write something.."
                        style="height:200px"></textarea>

                    <input type="submit" value="Submit">
                </form>
            </div>


        </div>

    </div>
</section>